extends layout

block content
  h1= title

  - let dressid = toShow._id
  - let dressname = toShow.name
  - let dresscost = toShow.cost
  - let dressbrand = toShow.brand
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{dressid}
  - let actionid = "/resource/dress/" + dressid
  form(id='DressForm', action= actionid, method="PUT")
    div.form-group
        label.dressAttr(for='name') Dress name
        input#dressname(type='text', name='dressname', value= dressname )
    div.form-group
        label.dressAttr(for='cost') Dress cost
        input#cost(type='number', name='cost', value= dresscost )
    div.form-group
        label.dressAttr(for='brand') Dress brand
        input#cost(type='text', name='brand', value= dressbrand )
    input(type="submit")

  script.
    document.forms['DressForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });


